<%- include('../includes/header') %> 
	<section class="page-section">
		<div class='container'>
			<div class='row'>
				<div class='col-12'>
					<div class="row justify-content-center">
						<div class="col-md-5 create-user-form">
							<h2 class="section-title"><%= title %></h2>
							<% let {name, age, department, role, status} = user %>
							<form action="/users/update/<%=  user.id %>" method="POST">
								<div class="mb-3">
									<label for="name" class="form-label">Name</label>
									<input type="text" class="form-control" value="<%=  name %>" name="name" id="name" aria-describedby="name">
								</div>
	
								<div class="mb-3">
									<label for="number" class="form-label">Age</label>
									<input type="text" class="form-control" value="<%=  age %>"  name="age" id="name" aria-describedby="name">
								</div>
								
								<div class="mb-3">
									<label for="department" class="form-label">Department</label>
									<select class="form-select" name="department" aria-label="User Department">
										<option value="Accounting" <%= 'Accounting' === department ? 'selected' : '' %> >Accounting</option>
										<option value="Engineering" <%= 'Engineering' === department ? 'selected' : '' %> >Engineering</option>
										<option value="Management" <%= 'Management' === department ? 'selected' : '' %> >Management</option>
										<option value="Security"  <%= 'Security' === department ? 'selected' : '' %>>Security</option>
									</select>
								</div>
								
								<div class="mb-3">
									<label for="role" class="form-label">Role</label>
									<select class="form-select" name="role" aria-label="User role">
										<option value="PM" <%= 'PM' === role ? 'selected' : '' %> >PM</option>
										<option value="QA" <%= 'QA' === role ? 'selected' : '' %> >QA</option>
										<option value="DEV" <%= 'DEV' === role ? 'selected' : '' %> >DEV</option>
									</select>
								</div>
								
								<div class="mb-3">
									<label for="status" class="form-label">Status</label>
									<select class="form-select" name="status" aria-label="User role">
										<option value="Activated" <%= 'Activated' === status ? 'selected' : '' %>>Activated</option>
										<option value="Pending" <%= 'Pending' === status ? 'selected' : '' %>>Pending</option>
										<option value="Cancelled" <%= 'Cancelled' === status ? 'selected' : '' %>>Cancelled</option>
									</select>
								</div>
		
								<button type="submit" class="btn btn-primary">Update User</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
<%- include('../includes/footer') %> 